<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <!-- La cadena de conexion -->
    <add key="CADENA_CONEXION_BD" value="D:\Desarrollo\WhatsAppSMCollection\WhatsAppSM\WhatsAppSM\bin\Debug\WHATSAPPFDB.FDB"/>
    <add key="SERVIDOR" value="localhost"/>
    <add key="PUERTO" value="3050"/>
    <add key="PASSWORD_BD" value="masterkey"/>
  </appSettings>
</configuration>
